package entities

import "goapi/internal/domain"

func Test{{ .Model }}() domain.{{ .Model }} {
	return domain.{{ .Model }} {
	    {{ range $key, $column := .Columns }}
            {{ $column.ModelName }}: "{{ $column.ModelType }}",
         {{ end }}
    }
}

func SecondTest{{ .Model }}(id int64) domain.{{ .Model }} {
	return domain.{{ .Model }} {
    	    {{ range $key, $column := .Columns }}
                {{ $column.ModelName }}: "{{ $column.ModelType }}",
             {{ end }}
    }
}
